{{> home/_header}}

    <!-- MAIN NAVBAR -->
    <header id="header" class="index-no-box">
      {{> home/_navbar}}
    </header><!-- End header -->


    <!-- MAIN SECTION STARTS HERE --> 
    <section class="container main-content">
      <div class="row">
        
        {{> messages/_messages}}

        {{{body}}}
        
          

      </div><!-- End row -->
    </section><!-- End container -->
    <!-- MAIN SECTION ENDS HERE --> 



{{> home/_footer}}