<aside class="col-md-3">

  <div class="widget widget_stats">
    <h3 class="widget_title">Categories</h3>
    <div class="ul_list ul_list-icon-ok">
      <ul>
        {{#each categories}}
        <li class="current_page_item"><a href="/category/{{slug}}"><i class="icon-tick"></i>{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>

</aside>
