<div class="col-md-12 login">
  <div class="page-content">
  <h2 class="color">Register Now</h2>
  <div class="form-style form-style-3">
    <form method="post" action="/register">
      <div class="form-inputs clearfix">
        <p>
          <label for="firstname" class="required">First Name<span>*</span></label>
          <input type="text" name="firstname" value="{{firstname}}">
        </p>
        <p>
          <label for="lastname" class="required">Last Name<span>*</span></label>
          <input type="text" name="lastname" value="{{lastname}}">
        </p>
        <p>
          <label for="email" class="required">E-Mail<span>*</span></label>
          <input type="email" name="email" value="{{email}}">
        </p>
        <p>
          <label for="password" class="required">Password<span>*</span></label>
          <input type="password" name="password">
        </p>
        <p>
          <label for="confirmPassword" class="required">Confirm Password<span>*</span></label>
          <input type="password" name="confirmPassword">
        </p>
      </div>
      <p class="form-submit">
        <input type="submit" value="Signup" class="button color small submit">
      </p>
    </form>
  </div>
  </div>
</div>  
