<footer class="footer footer-static footer-light">
        <p class="clearfix text-muted text-center px-2"><span>Copyright &copy; 2018 <a href="#"
              id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">Mustafa Erden </a>, All rights
            reserved. </span></p>
</footer>

    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!-- BEGIN VENDOR JS-->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
  <script src="/admin/app-assets/vendors/js/core/popper.min.js"></script>
  <script src="/admin/app-assets/vendors/js/core/bootstrap.min.js"></script>
  <script src="/admin/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN CONVEX JS-->
  <script src="/admin/app-assets/js/app-sidebar.js"></script>
  <!-- END CONVEX JS-->
  <script>
      ClassicEditor
          .create( document.querySelector( '#editor' ) )
          .catch( error => {
              console.error( error );
          } );
  </script>
</body>

</html>
