<div class="sidebar-content">
  <div class="nav-container">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

      <li class="nav-item"><a href="/admin"><i class="icon-bar-chart"></i><span data-i18n="" class="menu-title">Dashboard</span></a>
      </li>

      <li class="has-sub nav-item"><a href="#"><i class="icon-layers"></i><span data-i18n="" class="menu-title">Categories</span></a>
        <ul class="menu-content">
          <li><a href="/admin/categories" class="menu-item">Category List</a>
          </li>
          <li><a href="/admin/categories/create" class="menu-item">Create Category</a>
          </li>
        </ul>
      </li>

      <li class="has-sub nav-item"><a href="#"><i class="icon-question"></i><span data-i18n="" class="menu-title">Questions</span></a>
        <ul class="menu-content">
          <li><a href="/admin/questions" class="menu-item">Question List</a>
          </li>
          <li><a href="/admin/questions/create" class="menu-item">Create Question</a>
          </li>
        </ul>
      </li>

      <li class="has-sub nav-item"><a href="#"><i class="icon-users"></i><span data-i18n="" class="menu-title">Agents</span></a>
        <ul class="menu-content">
          <li><a href="/admin/agents" class="menu-item">My Agents</a>
          </li>
          <li><a href="/admin/agents/questions" class="menu-item">Agents Asking</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>